* {
    box-sizing: border-box;
    margin: 0;
}
/* Layout */

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    margin: 0 auto;
}


.feed-container {
    position: absolute;
    top: 10%;
    left: 25%;
    margin: 0 auto;
    width: 500px;
    height: 800px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: whitesmoke;
}