@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}
/* Layout */

body {
    font-family: 'Josefin Sans', sans-serif;
    min-height: 100vh;
    margin: auto;
}


.feed-container {
    position: absolute;
    top: 5%;
    left: 10%;
    right: 10%;
    margin: 0 auto;
    width: auto;
    height: auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #192446;
    opacity: 0.9;
}

/* Header */

header{
    position: relative;
}

.header-image {
    width: 100%;
    border-radius: 8px 8px 0 0;
}


h4 {
    top: 96px;
    line-height: 13px;
    font-size: 22px;
}

/* Main Menu */

.menu-items {
    display: flex;
    justify-content: space-around;
    margin: 60px 45px 45px 46px;
    border-bottom: 1px solid #8b8b8b ;
    width: auto;
    height: 140px;
    
}

.menu-text {
    padding-right: 35px;
}

h3 {
    line-height: 17px;
    font-size: 28px;
    color: #ffffff;
    
}

.ingredient-text {
    color: #8b8b8b;
    font-size: 16px;
    padding: 8px 0 8px 0;
    line-height: 24px;
    letter-spacing: .5px;
}

h5 {
    line-height: 24px;
    font-size: 20px;
    color: #ffffff;
}



.item-add-btn {
    height: 50px;
    width: 50px;
    margin-left: auto;
    border-radius: 70%;
    border: 1px solid #8b8b8b;
    background-color: whitesmoke;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
}

/* Complete Order Menu */

.your-order {
    width: 508px;
    height: 319px;
    margin: 67px 0 0 46px;
}

.order-text {
    text-align: center;
    margin-bottom: 62px;
}
.item-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.item-info {
    display: flex;
}
.item-list h3, h4 {
    margin: 7px;
    color: #ffffff;
}

.order-list {
    display: flex;
    margin: 40px 35px;
    flex-direction: column;
    margin-bottom: 22px;
}

.remove-item {
    font-family: 'Verdana';
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #8b8b8b;
    width: 80%;
    padding-left: 10px;
}

#remove-item-btn {
    border: none;
    font-family: 'Verdana';
    color: #ffffff;
    background-color: #d454b0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    font-weight: 700;
    margin-left: 20px;
}

/* Total Price */

.total-price {
    display: flex;
    justify-content: space-between;
    margin: 40px 35px;
    padding-top: 30px;
    border-top: 2px solid black;
    
}

.complete-btn-div {
text-align: center;
}

.complete-btn {
    width: 380px;
    height: 60px;
    background-color: #16DB99;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 3px;
    margin-top: 25px;
    margin-bottom: 50px;
    color: #ffffff;
    font-family: 'Verdana';
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    transition-duration: 0.4s;
}

.complete-btn:hover {
background-color: #05704c;
}


/* Utility */
.hidden {
    display: none;
}

.show {
    display: block;
}

/* Checkout */

#checkout-modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 480px;
    height: 380px;
    background-color: white;
    border-radius: 10px;
}

#close-modal {
 text-align: right;
 padding: 10px;
}

#close-modal button {
 cursor: pointer;
  border: none;
  color: #d454b0; 
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-heading {
    color: #000000;
    padding-bottom: 20px;
}

form input {
  width: 80%;
  margin: 10px 0;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid; 
}

.payment-btn {
    width: 70%;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    background-color: #16DB99;
    font-family: 'Verdana';
    color: #ffffff;
    font-weight: 700;
}


.thanks-msg{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    margin: 0 40px 35px 40px;
    background-color:#16DB99;
    border-radius: 5px;
    width: auto;
    min-height: 10vh;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}
